<ul>
<li><label>Id:</label>{{ user.Id }}</li>
<li>User: {{ user.UserName }}</li>
<li>Password: {{ user.Password }}</li>
<li>First Name: {{ user.FirstName }}</li>
<li>Last Name: {{ user.LastName }}</li>
<li>Phone: {{ user.Phone }}</li>
<li>Email: {{ user.Email }}</li>
<li>Reviewer: {{ user.IsReviewer | bool }}</li>
<li>Admin: {{ user.IsAdmin | bool }}</li>
</ul>
<div class="editlink">
    <a routerLink='/users/edit/{{user.Id}}'>Edit</a>
</div>
<div>
        <button *ngIf='!confirmDelete' class="btn btn-primary" (click)="confirm()">Delete</button>
</div>
<div>
        <button *ngIf="confirmDelete" class="btn btn-primary" (click)="delete()">Are You Sure You Want to Delete?</button>
</div>
